<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login with Face -- SkutFace</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Login with Face</h1>
            <p>Upload your face image and email to log in.</p>

            <form id="loginForm">
                <input type="email" id="email" placeholder="Email" required><br>
                <input type="file" id="file" accept="image/*" required><br>
                <img id="preview" src="" alt="Image preview" style="display:none; margin-top:10px; max-width:200px; border-radius:8px;">
                <button type="sybmit" class="btn">Login</button>
            </form>

            <p id="response"></p>

            <a href="{{ url_for('main.index') }}" class="btn">Back to Home</a>
        </div>

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>